@page "{id:guid?}"
@using RazorPokedex.Data;
@model RazorPokedex.Pages.AddOrEditPkmnModel
@{
    <h1>@Model.PageHeader</h1>
    <form method="post">
        <div class="form-bootstrap-override">

            <div class="add-img-placeholder form-field">
                <img src="https://www.serebii.net/pokearth/sprites/rb/000.png" alt="placeholder" />
            </div>
            <div class="name form-field">
                <label for="name">Name</label>
                <input type="text" name="name" maxlength="20" value="@Model.AddOrEditEntry?.Name"/>
            </div>
            <div class="category form-field">
                <label for="category">Category</label>
                <input type="text" name="category" maxlength="20" value="@Model.AddOrEditEntry?.Category" />
            </div>
            <div class="type type-1 form-field">
                <label for="type1">Primary Type</label>
                <select name="type1">
                    @foreach (string t in Model.Types)
                    {
                        @if (t.ToLower() == @Model.AddOrEditEntry?.Type1)
                        {
                            <option selected value="@t.ToLower()">@t</option>
                        }
                        else
                        {
                            <option value="@t.ToLower()">@t</option>
                        }
                    }
                </select> 
            </div>
            <div class="type type-2 form-field">
                <label for="type2">Secondary Type</label>
                <select name="type2">
                    <option value="">None</option>
                    @foreach (string t in Model.Types)
                    {
                        @if (t.ToLower() == @Model.AddOrEditEntry?.Type2)
                        {
                            <option selected value="@t.ToLower()">@t</option>
                        }
                        else
                        {
                            <option value="@t.ToLower()">@t</option>
                        }
                    }
                </select>
            </div>
            <div class="height form-field">
                <label for="height">Height in centimeters</label>
                <input type="number" name="height" min="2" max="1999" value="@Model.AddOrEditEntry?.Height" />
            </div>
            <div class="weight form-field">
                <label for="weight">Weight in grams</label>
                <input type="number" name="weight" min="1" max="1100" value="@Model.AddOrEditEntry?.Weight" />
            </div>
            <div class="flavor-txt form-field">
                <label for="flavorTXT">FlavorTXT</label>
                <textarea name="flavorTXT">@Model.AddOrEditEntry?.FlavorTXT</textarea>
            </div>
            <button type="submit">Save</button>
        </div>
    </form>

}
